@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración base para asegurar altura completa */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Slate-900: Fondo oscuro elegante */
  overflow: hidden; /* Evita scroll en el body, lo maneja la app */
}

/* Aseguramos que el contenedor de React ocupe todo el espacio */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}